<br>
<h1>NUESTRO CATALOGO DE JUEGOS</h1>
<br>
<div class="card-group">
    <div class="card">
      <img src="assets\ju6.jpg" class="card-img-top" alt="..." height="300">
      <div class="card-body">
        <h5 class="card-title">The Legend of Zelda Tears of the Kingdom</h5>
        <p class="card-text">
            "The Legend of Zelda: Tears of the Kingdom" es una continuación directa del aclamado juego "The Legend of Zelda: Breath of the Wild". La historia sigue nuevamente a Link, el héroe de Hyrule, y a la princesa Zelda mientras enfrentan una nueva amenaza que emerge desde las profundidades del reino.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="assets\ju1.jpg" class="card-img-top" alt="..." height="300">
      <div class="card-body">
        <h5 class="card-title">Red Dead Redemption 2</h5>
        <p class="card-text">"Red Dead Redemption 2" es un videojuego de acción y aventura desarrollado por Rockstar Games, ambientado en el vasto y detallado mundo del Lejano Oeste estadounidense a finales del siglo XIX. La historia se centra en Arthur Morgan, un miembro veterano de la banda de forajidos de Dutch van der Linde.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets\ju2.jpg" class="card-img-top" alt="..." height="300">
      <div class="card-body">
        <h5 class="card-title">Red Dead Redemption 2</h5>
        <p class="card-text">"Red Dead Redemption" es un videojuego de acción y aventura desarrollado por Rockstar Games, ambientado en el desierto del Lejano Oeste a principios del siglo XX. La historia sigue a John Marston, un exforajido obligado a trabajar para el gobierno para redimir su pasado y asegurar el futuro de su familia.</p>
        
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="assets\ju3.jpg" class="card-img-top" alt="..." height="300">
      <div class="card-body">
        <h5 class="card-title">Fallout New Vegas</h5>
        <p class="card-text">"Fallout: New Vegas" es un videojuego de rol y acción desarrollado por Obsidian Entertainment y publicado por Bethesda Softworks. Ambientado en un mundo postapocalíptico devastado por la guerra nuclear, el juego se sitúa en el año 2281 en la región desértica de Nevada y partes de California.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="assets\ju4.png" class="card-img-top" alt="..." height="300">
      <div class="card-body">
        <h5 class="card-title">Fallout 3</h5>
        <p class="card-text">"Fallout 3" es un juego de rol de acción desarrollado por Bethesda Game Studios y publicado por Bethesda Softworks. Situado en un mundo postapocalíptico alternativo después de una devastadora guerra nuclear que ha dejado la Tierra en ruinas, el juego se desarrolla en la región de Washington D.C., conocida como la Capital Wasteland.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="assets\ju5.jpg" class="card-img-top" alt="..." height="300">
      <div class="card-body">
        <h5 class="card-title">Batman Arkham City</h5>
        <p class="card-text">"Batman: Arkham City" es un videojuego de acción y aventura desarrollado por Rocksteady Studios y publicado por Warner Bros. Interactive Entertainment. Es la secuela del aclamado juego "Batman: Arkham Asylum" y forma parte de la serie de videojuegos "Batman: Arkham".</p>
        
      </div>
    </div>
  </div>