<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets\img1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>DISFRUTA</h5>
          <p>Juega en cualquier momento y en cualquier lugar.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\img2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>ESCOGE</h5>
          <p>Ten a tus disposicion todos los juegos que quieras.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\img3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>MULTIPLATAFORMA</h5>
          <p>Accede a todas las plataformas disponibles.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <br>
    <br>
    <br>

    <div class="card mb-3">
        
        <div class="card-body">
          <h5 class="card-title">VIRTUAL STORE</h5>
          <p class="card-text">Bienvenidos a Virtual Store, tu destino principal para los mejores videojuegos emocionantes. En Virtual Store, estamos dedicados a ofrecerte una experiencia de compra excepcional mientras exploras y descubres los títulos más emocionantes del mundo de los videojuegos. to additional content. This content is a little bit longer.</p>
          
        </div>
      </div>
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title" >QUE HACEMOS?</h5>
          <p class="card-text">Desde éxitos de taquilla hasta gemas ocultas, nuestra tienda en línea está repleta de los mejores juegos para satisfacer todos los gustos y preferencias. Nos enorgullece ofrecer una plataforma donde los amantes de los videojuegos pueden conectarse, compartir sus experiencias y descubrir nuevas aventuras. Únete a nosotros en Virtual Store, donde la emoción nunca termina y los mejores títulos están a solo un clic de distancia.</p>
        </div>
      </div>